

<header class="masthead">
<div class="container contenedor mt-5 ">
        <div class="contenedorForm  mx-auto p-4">
            <div class="logoForm  text-center mb-2">
                <img class="logo" src="assets/fe.png" alt="">
            </div>
            <form  (submit)=" signUp()" class="text-center bg-secondary p-4">
                <h3>Crear cuenta</h3>
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.lastName"class="form-control" name="lastName" placeholder="Apellido" >
                </div>
                <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="user.password" class="form-control"  name="password"id="exampleInputPassword1" placeholder="ContraseÒa">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirmPassword" placeholder="Confirmar contraseÒa">
                </div>
                <button type="submit" class="btn btn-primary ">Registrate ahora</button>
                <p><small>Al identificarte acepta nuestros terminos y condiciones de uso y venta. 
                    Consulta nuestro aviso de privacidad, nuestro aviso de cookies y 
                    nuestro aviso sobre publicidad basada en los intereses del usuario. 
                    <hr>
                </small></p>
                <p>ø Ya tienes una cuenta? <span><a href="">Inicia sesion</a></span></p>
            </form>
        </div>
    </div>
</header>
