header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("p.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
  header.masthead .overlay {
    position: absolute;
    background-color: #0a0700f3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
   
  }
  .imgHeader{
      border-radius: 20%;
  
  }