


  <nav class="navbar navbar-expand-lg ">
      <div class="container">
    <a class="navbar-brand text-white" href="#"> <img class="logo" src="/assets/imagenes/LogoW(4).png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class=" btn btn-outline-secondary  text-white" routerLinkActive="active" routerLink="/premium">premium</a>
        </li>
        
       
      </ul>
      <ul class="navbar-nav ml-auto">
       
       <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/signin" routerLinkActive="active">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/signup" routerLinkActive="active">Signup</a>
        </li>
        
       </ng-container>
       <ng-template #loggedIn>
          <li class="nav-item">
              <a class="nav-link pt-3" style="cursor: pointer;" (click)="authService.logout()"> Cerrar sesión</a>
            </li>
            <li class="nav-link">
              <button mat-button (clik)="openDialog()">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">keyboard_voice</mat-icon>
              </button>
            </li>
       </ng-template>
      </ul>
    </div>
  </div>
  </nav>
 



<router-outlet></router-outlet>