<div class="container pt-5 pb-5">
  <h1 class="text-center text-primary">Ingresa tu medio de pago </h1>
  <div class="card">
    <div class="card-body">
    <form novalidate (ngSubmit)="buy()"  class="form-group"[formGroup]="stripeTest">
      <input type="text"  class="form-control text-white" palceholder="Email exapmple kamilo@gmail.com">
      <input  class="form-control"type="text" formControlName="name" placeholder=" ejemplo: Kamilo Munevar">
      <div class="form-control mt-3 " id="card-element" class="field"></div>
      <button class="btn btn-primary btn-block mx-auto mt-5 text-center" type="submit">
        Suscribirse a premium 
      </button>
    </form>
  </div>
  </div>
</div>


