<div >
    <div id="contenedor header">
   
            <video src="../../assets/video/guason.mp4" id="miVideo"  controls>
            </video>



   
            <!-- <section>
                <div class="container pt-5">
                      <h2 id="categorias">Favoritos </h2>
                    <div class="row">
                        
                        <div class="col col-md-3">
                            <img class="imgHeader img-fluid" src="../../assets/img/black-and-blue.jpg" alt="">
                        </div>
                        <div class="col col-md-3">
                              <img class=" imgHeader img-fluid" src="../../assets/img/black-and-blue.jpg" alt="">
                        </div>
                        <div class="col col-md-3">
                              <img class=" imgHeader img-fluid" src="../../assets/img/black-and-blue.jpg" alt="">
                        </div>
                        <div class="col col-md-3">
                              <img class=" imgHeader img-fluid" src="../../assets/img/black-and-blue.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section> -->
            <section>
                <div class="container pt-5">
                    <h2 id="categorias">Peliculas</h2>
                    <div class="row">
                        <div class="col col-md-2">
                              <img class=" imgPeli img-fluid" src="../../assets/img/angeles.jpg" alt="">
                        </div>
                        <div class="col col-md-2">
                              <img class=" img-fluid" src="../../assets/img/black-and-blue.jpg" alt="">
                        </div>
                        <div class="col col-md-2">
                              <img class="imgPeli img-fluid" src="../../assets/img/amor.jpg" alt="">
                        </div>
                        <div class="col col-md-2">
                              <img class=" img-fluid" src="../../assets/img/anaconda.jpg" alt="">
                        </div>
                        <div class="col col-md-2">
                           <a routerLink="/1917">   <img class=" imgPeli img-fluid" src="../../assets/img/slv.jpg" alt=""></a>
                        </div>
                        <div class="col col-md-2">
                              <img class="imgPeli img-fluid" src="../../assets/img/extranjero.jpg" alt="">
                        </div>
                    </div>

                    <div class="row pt-5">
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/vangers2.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/resident.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/inframundo.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/bvs.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                              <a routerLink="/deadpool">  <img class="imgPeli img-fluid" src="../../assets/img/deepool.jpg" alt=""></a>
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/rings.jpg" alt="">
                          </div>
                      </div>
                      <div class="row pt-5">
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/matrix.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/rapidos.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/Avatar.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/gost.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/holmes.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/terminator.jpg" alt="">
                              </div>
                          </div>
                  </div>
            </section>
            <section>
                  <div class="container pt-5">
                      <h2 id="categorias">Terror</h2>
                      <div class="row pt-4">
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/orfanato.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/rec.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/monja.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/it.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/anabel.jpg" alt="">
                          </div>
                          <div class="col col-md-2">
                                <img class="imgPeli img-fluid" src="../../assets/img/freddy.jpg" alt="">
                          </div>
                      </div>
                      <h2> Drama</h2>
                      <div class="row pt-5">
                            
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/itachi.jpg" alt="">
                            </div>
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/busca.jpg" alt="">
                            </div>
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/ninopx.jpg" alt="">
                            </div>
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/renacido.jpg" alt="">
                            </div>
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/siempre.jpg" alt="">
                            </div>
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/jocker.jpg" alt="">
                            </div>
                        </div>
                        <h2>Comedia</h2>
                        <div class="row pt-5">
                                <div class="col col-md-2">
                                      <img class="imgPeli img-fluid" src="../../assets/img/devoluciones.jpg" alt="">
                                </div>
                                <div class="col col-md-2">
                                      <img class="imgPeli img-fluid" src="../../assets/img/rubias.jpg" alt="">
                                </div>
                                <div class="col col-md-2">
                                      <img class="imgPeli img-fluid" src="../../assets/img/taxi.jpg" alt="">
                                </div>
                                <div class="col col-md-2">
                                      <img class="imgPeli img-fluid" src="../../assets/img/zombiland.jpg" alt="">
                                </div>
                                <div class="col col-md-2">
                                      <img class="imgPeli img-fluid" src="../../assets/img/espias.jpg" alt="">
                                </div>
                                <div class="col col-md-2">
                                      <img class="imgPeli img-fluid" src="../../assets/img/ninos2.jpg" alt="">
                                </div>
                            </div>
                  </div>
              </section>
          </div>
          </div>
          <header class="masthead pt-5">
                  <div >
                        <div class="overlay"></div>
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="../../../assets/img/guason.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="../../../assets/img/dp2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="../../../assets/img/wick3.jpg" class="d-block w-100" alt="...">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                        </div>
                  </header>

