
#miVideo{
    position: relative;
    background-size: cover;
     width: 100%;
     height: 100%;
     
}


  
  .imgHeader{
      border-radius: 50%;
      width: 50%;
      height: 100px;
  
  }
  #contenedor{
    margin-top: -800px;
  }
  .imgFluit{
    width: 50%;
    height: 100px;
    margin: center;
  }
  #id {
    background-color: black;
    width: 100%;
    height:12000px ;
  }
  section{
    background-color: black;
    border-bottom:2px solid rgb(31, 139, 155);
    
  }
#categorias{
  color: white;
  font-size: 45px;
  

}
.imgPeli{
  width: 150px;
  height: 230px;
}

