<div class="container pt-5">
<form (ngSubmit)="createOrUpdate()">
    <div class="form-group">
        <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="movie.nombre" class="form-control"
            #nombre="ngModel" required minlength="4" />
    </div>

    <div class="form-group">
        <input type="text" placeholder="Protagonistas" name="protagonistas" [(ngModel)]="movie.protagonistas"
            class="form-control" #protagonistas="ngModel" required minlength="4" />
    </div>

    <div class="form-group">
        <input type="text" placeholder="Director" name="director" [(ngModel)]="movie.director" class="form-control"
            #director="ngModel" required minlength="4" />
    </div>

    <div class="form-group">
        <input type="text" placeholder="Duración" name="duracion" [(ngModel)]="movie.duracion" class="form-control"
            #duracion="ngModel" required minlength="4" />
    </div>

    <div class="form-group">
        <input type="text" placeholder="Género" name="genero" [(ngModel)]="movie.genero" class="form-control"
            #genero="ngModel" required minlength="4" />
    </div>
    <input class="btn btn-success" type="submit" value="Submit">

    <!--     <div *ngIf="name.errors.minlength">
        Country name must be at least 4 characters long.
    </div>

    <div *ngIf="capital.errors.minlength">
        Capital name must be at least 4 characters long.
    </div> -->
</form>
</div>