<ol>
    <li>
      <mat-form-field>
        
        <input matInput >
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button >Pick one</button>
    </li>
    
  </ol>
<div my-dialog-content> test </div>