<div class="contenedorInicio text-white">
        <section class="seccion1">
            <div class="nav row ">
                <div class="div-logo col-sm-2 text-center">
                   
                </div>
                <div class="col-sm-2 offset-sm-8  ml-auto  my-auto">
                   
                </div>
            </div> 
        
    
        <div class="main  text-center pt-5">
            <div class="bienvenida col-sm-4  offset-sm-1 p-5">
                <h2>Bienvenidos a GoMovies</h2>
                <p>Disfruta de peliculas exclusivas, por 
                    COP 14.900/mes. Disfruta ahora, cancela en cualquier momento
                </p>
                <button class="btn btn-primary text-white">Empieza tu prueba gratis</button>
            </div>
        </div>
    </section>
    
        <!-- ---------- SECCION2 ---------------- -->
        <div class="seccion2  row  p-4">
            <!-- ------ CAJA 1 -------------- -->
            <div class=" caja caja1 col-md-4  text-center px-5 mt-4 ">
                <div class="text-center">
                    <img class="img img1" src="/assets/imagenes/disposiotivos.png" alt="">
                </div>
                <div class="mt-4">
                    <h4>Ver en cualquier parte</h4>
                    <p class="mt-4">Disfruta desde la web o con la aplicacion GoMovies en tu telefono, tablet o ciertos smart tv y hata  en tres dispositivos al mismo tiempo.</p>
                </div>
            </div>
    
            <!-- --------------- CAJA 2 --------------- -->
            <div class="caja caja2 col-md-4  text-center px-5 mt-4">
                <div class="text-center">
                    <img class="img img2" src="/assets/imagenes/PHONE.png" alt="">
                </div>
                <div class="mt-4">
                    <h4>Descarga y disfruta</h4>
                    <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cupiditate exercitationem fuga natus provident est incidunt, voluptate quibusdam soluta! Debitis?</p>
                </div>
            </div>
    
            <!-- --------------------- CAJA 3 -------------------------- -->
            <div class="caja caja3 col-md-4  text-center px-5 mt-4">
                <div class="text-center">
                    <img class="img img3" src="/assets/imagenes/WiFi_Int_1.png" alt="">
                </div>
                <div class="mt-4">
                    <h4>Ahorro de datos</h4>
                    <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptas pariatur repudiandae consequatur debitis vel vitae, quae culpa perspiciatis sapiente?</p>
                </div>
            </div>
        </div>
       

              <section>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <a routerLink="/guason"> <img src="../../../assets/img/guason.jpg" class="d-block w-100" alt="..."></a>
                              </div>
                              <div class="carousel-item">
                                <img src="../../../assets/img/1917.jpg" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                               <a routerLink="/it"> <img src="../../../assets/img/its.jpg"  class="d-block w-100" alt="..."></a>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
              </section>

              <section>
                    <div class="container pt-5">
                        <h2 id="categorias">Lo mas visto</h2>
                        <div class="row pt-4">
                            <div class="col col-md-2">
                            <a routerLink="/reyLeon"> <img class="imgPeli img-fluid" src="../../assets/img/leon.jpg" alt=""></a>
                            </div>
                            <div class="col col-md-2">
                                    <a routerLink="/queen">   <img class="imgPeli img-fluid" src="../../assets/img/qeen.jpg" alt=""></a>
                            </div>
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/jocker.jpg" alt="">
                            </div>
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/it.jpg" alt="">
                            </div>
                            <div class="col col-md-2">
                                  <img class="imgPeli img-fluid" src="../../assets/img/Venom.jpg" alt="">
                            </div>
                            <div class="col col-md-2">
                                    <a routerLink="/parasito">  <img class="imgPeli img-fluid" src="../../assets/img/parasito.jpg" alt=""></a>
                            </div>
                        </div>
                        <h2> Nuevos lanzamientos </h2>
                        <div class="row pt-5">
                              
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/it.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                   <a routerLink="/reyLeon"> <img class="imgPeli img-fluid" src="../../assets/img/leon.jpg" alt=""></a>
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/parasito.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/leonBlanco.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/dumbo.jpg" alt="">
                              </div>
                              <div class="col col-md-2">
                                    <img class="imgPeli img-fluid" src="../../assets/img/jocker.jpg" alt="">
                              </div>
                          </div>
                          <h2>Comedia</h2>
                          <div class="row pt-5">
                                  <div class="col col-md-2">
                                        <img class="imgPeli img-fluid" src="../../assets/img/devoluciones.jpg" alt="">
                                  </div>
                                  <div class="col col-md-2">
                                        <img class="imgPeli img-fluid" src="../../assets/img/rubias.jpg" alt="">
                                  </div>
                                  <div class="col col-md-2">
                                        <img class="imgPeli img-fluid" src="../../assets/img/taxi.jpg" alt="">
                                  </div>
                                  <div class="col col-md-2">
                                        <img class="imgPeli img-fluid" src="../../assets/img/zombiland.jpg" alt="">
                                  </div>
                                  <div class="col col-md-2">
                                        <img class="imgPeli img-fluid" src="../../assets/img/espias.jpg" alt="">
                                  </div>
                                  <div class="col col-md-2">
                                        <img class="imgPeli img-fluid" src="../../assets/img/ninos2.jpg" alt="">
                                  </div>
                              </div>
                    </div>
                </section>
    
        <!-- -------- FOOTER ------------------ -->
        <div class="footer row p-5 ">
            <div class="col-sm-4 text-center"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, eveniet!
            </div>
            <div class="col-sm-4 offset-sm-4  row text-center">
                <div class="col-md-6 ">
                    <img class="imgicon" src="/assets/imagenes/facebook.png" alt="">
                </div>
                <div class="col-md-6 ">
                    <img class="imgicon" src="/assets/imagenes/instagram.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
