.contenedorInicio {
    width: 100%;
    height: 100vh;
  }
  
  .contenedorInicio .nav a {
    font-size: 20px;
  }
  
  .contenedorInicio .nav .div-logo .logo {
    width: 50%;
  }
  
  .contenedorInicio .main .bienvenida {
    background: rgba(128, 128, 128, 0.459);
    border-radius: 50px;
  }
  
  .seccion1{
    background: url(/assets/imagenes/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .main{
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  .bienvenida{
    background: rgba(128, 128, 128, 0.459);
    border-radius: 50px;
}
.seccion2{
    background: rgb(61,111,138);
}

    .img{
        width: 60%;
    }
    .img2{
        width: 45%;
    }
    .img3{
        width: 80%;
    }

    .imgicon{
        width: 30%;
    }
  /*# sourceMappingURL=inicio.component.css.map */