
<div class="container pt-5 mb-5">
        <ul class="list-group ">
                <li class="list-group-item ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quia!
                </li>
            
            </ul>
</div>
