.contenedor {
    color: white;
  }
  
  .contenedor .contenedorForm {
    width: 40%;
  }
  
  .contenedor .contenedorForm .logo {
    width: 30%;
  }

  header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("/assets/fe.png") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }