.container-fluit{
    background:linear-gradient(rgba(13, 72, 112),rgb(2, 2, 41) );
    height: 100vh;
    padding-bottom: 5rem;
}

.form{
    background: linear-gradient(rgb(2, 2, 41), rgba(13, 72, 112));
    border-radius: 15px;
}
        button{
            border: 1px solid white;
            color: white;
            margin-right: 10px;
            width: 30%;
            
        }

        input{
            background: none;
            color: white;
        }