<div class="container-fluit seccion row  mx-auto ">

    <!-- --------------- NAV ------------------------ -->
    <div class="nav col-md-12 row mt-3 ">
        <div class="col-md-3 row ">
            <div class="logo col-md-12 text-center">
                
            </div>
        </div>
        <div class="col-md-3 offset-md-6 text-right">
            <nav class="navbar navbar-expand-lg  ">
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class=" contenedor-menu collapse navbar-collapse " id="navbarSupportedContent">
                  
                </div>
            </nav>
        </div>  
    </div>

    <!-- ------------------ FORMULARIO ---------------------- -->
    <div class="form col-md-6 mx-auto mt-5  p-5 text-white">
        <form action="">
            <div class="form-group pt-5">
                <h3 class="mb-4 pt-2">Agregar Administrador</h3>
                <div class="pt-3">
                <input class="form-control mb-2" type="text" placeholder="Correo Administrador">
                <input class="form-control mb-2" type="password" placeholder="ContraseÒa">
                <input class="form-control mb-4" type="password" placeholder="Confirmar ContraseÒa">
                <button class="btn  text-center justify-content-center" type="submit">enviar</button>
            </div>
                
            </div>
        </form>
    </div>
</div>
